<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <% if (!user) { %> <!-- ask user to login -->
  <h2> Please login </h2>
  <% } else { %> <!-- main display for page -->
  <a href='/urls/new'> New URL </a>
  <ul>
    <% for (let users in urls) { %> <!-- loop url database to display urls in list format -->
    <li><a href='/urls/<%= users %>'> <%= users %> - <%= urls[users].longURL %> </a></li>
    <form method= "POST" action ="/urls/<%= users %>/delete"> <!-- delete button -->
      <input type='hidden' id='shortURL' name='shortURL' value = '<%= users %>' />
      <button type='submit'> delete </button>
    </form>
    <form method= "GET" action ="/urls/<%= users %>"> <!-- redirect to show page to edit -->
      <input type='hidden' id='shortURL' name='shortURL' value = '<%= users %>' />
      <button type='submit'> edit </button>
    </form>
    <% }}; %>
  </ul>    
</body>
</html>